@model CountriesApp.Models.Country

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@


<html>
<head>
    <meta name="viewport" uiactions="expand" content="width=device-width" />
</head>
<body>
    <!--  Country data order: id name area population flag anthem presidentID -->
    <form name="frmCountry" id="frmCountry" method="post">
        <br />
        <div class="form-group row">
            <button type="button">Boton</button>
        </div>
    </form>
    <div class="container">
        <div class="col-xs-5">
            <h1>@Model.name</h1>
        </div>
        <div class="col-xs-6">
            <h1>@Html.DisplayNameFor(model => model.anthem)</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                @if (Model.flag == null)
                {
                    using (Html.BeginForm("AddFlag", "Countries", new {}, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {

                    }
                    using (Html.BeginForm("AddFlag", "Countries", new { }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <fieldset>
                            <input type="file" name="test" />
                            <input type="submit" value="AddFlag" />
                        </fieldset>
                    }
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.flag);
                    var imgsrc = string.Format("data:image/png;base64,{0}", base64);
                    <div class="col-md-6 col-xs-6">
                        <img src="@imgsrc" class="img-responsive" height="100" width="200" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>